{{!-- here is the main HTML where handlebars will render to --}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>End Your Hanger</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>

    {{{ body }}}

	</body>
</HTML>
